mixin paralax()
    .paralax__image-1
        img(src="img/paralax/paralax-1.png", alt="palax img #1" data-depth="1.5")
    .paralax__image-2
        img(src="img/paralax/paralax-2.png", alt="palax img #1" data-depth="1.5")