mixin navigation()
    nav.nav
        .nav__wrapper
            .container
                .row
                    .nav__inner
                        ul.nav__list
                            li.nav__item
                                a.nav__link.nav__link_active(href="#") Главная
                            li.nav__item
                                a.nav__link(href="#") Шугаринг и депиляция воском
                            li.nav__item
                                a.nav__link(href="#") Антицеллюлитный массаж
                            li.nav__item
                                a.nav__link(href="#") Классический массаж
                            li.nav__item
                                a.nav__link(href="#") Обучение
                            li.nav__item
                                a.nav__link(href="#") Косметика для мастеров
                            li.nav__item
                                a.nav__link(href="#") Статьи
                            li.nav__item
                                a.nav__link(href="#") О студии
                            li.nav__item
                                a.nav__link(href="#") Контакты