.modal-accept {
    text-align: center;

    padding: {
        top: get-vw(75);
        right: get-vw(125);
        bottom: get-vw(75);
        left: get-vw(125);
    }

    @include md(padding-top, 3.8125rem);
    @include md(padding-right, 2.8125rem);
    @include md(padding-bottom, 3.8125rem);
    @include md(padding-left, 3.8125rem);
    background-color: #fefbf9;

    border: {
        width: get-vw(1);
        style: solid;
        color: #fbeeef;
    }

    &__icon {
        width: get-vw(90);
        height: get-vw(90);
        @include md(width, rem(80));
        @include md(height, rem(80));
    }

    &__paragraph {
        font: {
            size: get-vw(30);
            weight: 700;
        }

        @include md(font-size, rem(30));

        &_weight_normal {
            font-weight: 300;
        }
    }
}