mixin modal-accept()
    .modal-accept.modal-sign
        +icon('daw-circle', 'svg-icon modal-accept__icon')
        p.modal-accept__paragraph Ваш заказ принят.
        p.modal-accept__paragraph.modal-accept__paragraph_weight_normal Ожидайте звонка
        a(href="#").close-button
            span.close-button__span