mixin title()
    section.title(style="background-image: url('./img/header/title/women.png')")
        .container
            .row
                .title__subject
                    h2.title__heading Хотите избавиться от<br> <span>нежелательных волос</span><br>или нужен сеанс<br><span>антицеллюлитного массажа?</span>
                    ul.title__list
                        li.title__item депиляция воском и Шугаринг;
                            span.title__item-dot
                        li.title__item профессиональные сертифицированные мастера;
                            span.title__item-dot
                        li.title__item работаем и с женщинами, и с мужчинами;
                            span.title__item-dot
                        li.title__item результат уже после первой процедуры.
                            span.title__item-dot
                        .title__card-wrapper
                            img.title__card(src="img/header/title/card.png", alt="personal card")
                            .title__hint-wrapper
                                img.title__hint(src="img/header/title/hint.png", alt="hint")
                                .title__hint-box
                                    p.title__paragraph Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    button.button.title__button ПОЛУЧИТЬ КАРТУ КЛИЕНТА БЕСПЛАТНО